.idea
*.iml

/.idea/
/pinyougou-common/target/
pinyougou-common/src/
pinyougou-common/target/
pinyougou-dao/src/test/
pinyougou-dao/target/
pinyougou-manager-web/target/
pinyougou-pojo/src/main/resources/
pinyougou-pojo/src/test/
pinyougou-pojo/target/
pinyougou-sellergoods-interface/src/main/resources/
pinyougou-sellergoods-interface/src/test/
pinyougou-sellergoods-interface/target/
pinyougou-sellergoods-service/src/test/
pinyougou-sellergoods-service/target/
pinyougou-shop-web/src/main/java/
pinyougou-shop-web/target/
/pinyougou-dao/pinyougou-dao.iml
